body { font-family: 'Segoe UI', sans-serif; background: #fff0f5; display: flex; margin: 0; height: 100vh; overflow: hidden; }

.sidebar { 
    width: 280px; background: white; padding: 20px; box-shadow: 4px 0 15px rgba(255, 183, 206, 0.2); 
    display: flex; flex-direction: column; border-right: 3px dashed #ffc0cb; 
    height: 100vh; overflow-y: auto; box-sizing: border-box;
}

.sidebar::-webkit-scrollbar { width: 8px; }
.sidebar::-webkit-scrollbar-thumb { background: #ffb7ce; border-radius: 10px; }

h1 { color: #ff85a2; text-align: center; margin-bottom: 5px; }
h3 { font-size: 0.85rem; color: #ffb7ce; text-transform: uppercase; text-align: center; margin-bottom: 20px; }

button { width: 100%; padding: 12px; margin: 5px 0; border: none; border-radius: 15px; cursor: pointer; font-weight: bold; color: white; transition: 0.2s; }
#btn-astar { background: linear-gradient(45deg, #ff9a9e, #fecfef); }
#btn-dijkstra { background: linear-gradient(45deg, #fad0c4, #ffd1ff); }
#btn-bfs { background: linear-gradient(45deg, #a18cd1, #fbc2eb); }
#btn-dfs { background: linear-gradient(45deg, #84fab0, #8fd3f4); }
#btn-clear-path { background: #fdfcfb; color: #d291bc; border: 1px solid #fbc2eb; }
#btn-clear-all { background: #ffe4e1; color: #db7093; }

.legend { font-size: 0.8rem; background: #fffafa; padding: 15px; border-radius: 15px; }
.legend-item { display: flex; align-items: center; margin: 6px 0; font-weight: bold; color: #d291bc;}
.color-box { width: 16px; height: 16px; margin-right: 12px; border-radius: 4px; }

.main-view { flex-grow: 1; display: flex; align-items: center; justify-content: center; background: #fafafa; }

/* Modal Styles */
.modal-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 183, 206, 0.4); display: flex; justify-content: center; align-items: center; z-index: 1000; }
.modal-content { background: white; padding: 40px; border-radius: 30px; box-shadow: 0 10px 30px rgba(0,0,0,0.1); text-align: center; max-width: 500px; border: 4px dashed #ffc0cb; }
.instructions-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; margin: 25px 0; text-align: left; font-size: 0.85rem; color: #d291bc; }
.ins-item { background: #fffafa; padding: 10px; border-radius: 10px; border: 1px solid #ffe4e1; }
.start-btn { background: linear-gradient(45deg, #ff9a9e, #fecfef); color: white; border: none; padding: 15px 30px; border-radius: 20px; font-weight: bold; cursor: pointer; width: auto;}